@charset "UTF-8";
/* reset */
* {
    margin: 0;
    padding: 0;
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

/* img:hover {
    opacity: 0.7;
} */
/* 투명도 70% */

#wrap {
    width: 100%;
    /* margin: 0 auto; */
    position: relative;
}

/* header */
#wrap header {
    width: 100%;
    height: 100px;
    background-color: #ffcf00;
    display: flex;
    /* border-bottom: 1px solid #000; */   
}
#wrap header .headerInner { 
    width: 1200px; 
    height: 100px; /* background-color: #999; */
    display: flex; 
    margin: 0 auto; 
} 
#wrap header h1.logo {
    /* width: 55px;
    height: 55px; */
    background-color: #ffcf00;
    /* margin-top: 25px;
    margin-left: 10px; */
}
#wrap header h1.logo a img {
    margin-top: 22px; 
    width: 55px;
}
#wrap header nav.menu {
    width: 1000px;
    height: 100px;
    position: relative;
    /* background-color: #999; */
}
#wrap header nav.menu ul {
    display: flex;
    float: right;
    gap: 70px;
}
#wrap header nav.menu ul li {
    /* border: 1px solid #ff00b7; */
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
}
#wrap header nav.menu ul>li>a {
    font-size: 20px;
    color: #000;
    margin-top: 40px;
    display: block;
    font-weight: 500;
    font-family: 'Exo 2';
    /* border:1px solid red; */
    height: 33px; 
    text-transform: uppercase; /* 일괄 대문자로 변경 */
    /* border: 1px solid green; */
    width: 160px;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    justify-content: center;
    top: 0;
    left: 0;
}
/* #wrap header nav.menu ul>li.in_menu>a:hover,
#wrap header nav.menu ul>li.in_menu>a:focus  
#wrap header nav.menu ul>li.in_menu>a::after {
    border-bottom: 2px solid #000;
    margin-bottom: 1px;
    color: #000;
    font-weight: bold;
} */
#wrap header nav.menu ul>li.in_menu>a {
    color: #000;
  display:inline-block; 
  text-transform:uppercase;
}
#wrap header nav.menu ul>li.in_menu>a:after {
    display:block;
    content: '';
    border-bottom: solid 3px #e3000b;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }
#wrap header nav.menu ul>li.in_menu>a:hover:after { 
    transform: scaleX(1); 
    text-align: center;
}



/* 서브메뉴 */

#wrap header nav.menu ul li {
    /* border: 1px solid blue; */
    display: flex;
    position: relative;
    top: 0;
    width: auto;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    /* padding: 0 20px; */
}
/* #wrap header nav.menu ul>li>ul>li {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
} */

#wrap header nav.menu ul li ul {
    display: none;
    position: absolute;
    width: 100%;
    height: 200px;
    left: 0; 
    text-align: center;
    /* margin-top: 20px; */
    z-index:999999;
    /* border: 1px solid red; */
    top: 100px;

    /* padding: 10px; */
    margin: 0 auto;
}
#wrap header nav.menu ul li ul li {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    /* border: 1px solid white; */
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    position: relative;
    /* border: 1px solid blue; */
    
}
#wrap header nav.menu ul>li.in_menu>ul>li>a {
    display: block;
    font-size: 15px;
    font-family: 'Exo 2';
    color: #000;
    letter-spacing: -1px;
    /* height: 30px; */
    /* line-height: 30px; */
    font-weight: 500;
    justify-content: center;
    text-align: center;
    left: 0;
    top: 16px;
    position: relative;
    margin: 0 auto;
    
}
#wrap header nav.menu ul li ul li a:hover {
   font-weight: bold;
}

#smenu_bar {
    position: absolute;
    top: 100px;
    width: 100%;
    background-color: #ffcf00;
    min-height: 200px;
    border-top: 1px solid #000;
    display: none;
    z-index: 99; 
}

/* #wrap header nav.menu ul li ul li:hover,
#wrap header nav.menu ul li a:focus  {
    border-bottom: 2px solid #000;
    margin-bottom: 5px;
} */


/* main */
#wrap main {
    width: 1200px;
    height: auto; /* auto 컨텐츠의 사이즈만큼 늘어남 */
    /* background-color: #666; */
    margin: 0 auto;
}

#wrap main .slide {
    width: 1200px;
    height: 500px;
    background-color: #000;
}
/* #wrap main .slide:hover {
    opacity: 0.5;    
} */
#wrap main .slide .slideList {
    position: relative;
}
#wrap main .slide .slideImg {
    position: relative;
    margin: 0 auto;
}
#wrap main .slide .slideList .img_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    color: #fff;
    margin: -25px 0 0 -25px;
    width: 1200px;
    font-size: 50px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    text-shadow: 4px 2px 2px black;
    text-align: center;
    margin: 0 auto;
    
}
#wrap main .slide .slideList .slideImg button {
    position: absolute;
    top: 150%;
    left: 50%;
    background-color: #464646;
    transform: translate( -50%, -50% );
    color: #fff;
    margin: -25px 0 0 -25px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
}

#wrap main .slide .slideList .slideImg .text_1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate( -50%, -50% );
    color: #fff;
    margin: -25px 0 0 -25px;
    width: 1200px;
    font-size: 80px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    text-shadow: 4px 2px 2px black;
    text-align: center;
    margin: 0 auto;
}
#wrap main .slide .slideList .slideImg .text_2 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate( -50%, -50% );
    color: #fff;
    margin: -25px 0 0 -25px;
    width: 1200px;
    font-size: 60px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    text-shadow: 4px 2px 2px black;
    text-align: center;
    margin: 0 auto;
   
}
#wrap main .slide .slideList .slideImg .text_3 {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate( -50%, -30% );
    color: #fff;
    margin: -25px 0 0 -25px;
    width: 1200px;
    font-size: 40px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    text-shadow: 4px 2px 2px black;
    text-align: left;
    margin: 0 auto;
    line-height: 80px;
    padding-left: 10px;
}
#wrap main .slide .slideList .slideImg .text_4 {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate( -50%, -30% );
    color: #fff;
    margin: -25px 0 0 -25px;
    width: 1200px;
    font-size: 45px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    text-shadow: 4px 2px 2px black;
    text-align: left;
    margin: 0 auto;
    line-height: 80px;
    padding-left: 10px;
}
#wrap main .slide .slideList .slideImg .text_5 {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate( -50%, -50% );
    color: #fff;
    margin: -25px 0 0 -25px;
    font-size: 50px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    text-shadow: 4px 2px 2px black;
    text-align: center;
    margin: 0 auto;
}
#wrap main .slide .slideList .slideImg .text_6 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    color: #fff;
    margin: -25px 0 0 -25px;
    width: 1200px;
    font-size: 50px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    text-shadow: 4px 2px 2px black;
    text-align: center;
    margin: 0 auto;
}
#wrap main .slide .slideList .slideImg .text_6 button {
    position: absolute;
    top: 150%;
    left: 50%;
    background-color: #464646;
    transform: translate( -50%, -50% );
    color: #fff;
    margin: -25px 0 0 -25px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
}
/* slick slide */
.banner_slider {
    height: 350px;
    background: #e1f9e0;
    cursor: pointer;
}
.banner_slider .items  {
    width: 150px;
    height: auto;
    margin-top: 30px; 
    /* margin-bottom: 10px; */
    font-size: 15px;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    width: calc(20% - 1px);
    font-family: 'Noto Sans KR';
}
.banner_slider .items img {
    /* border-radius: 50%;  */
    width: 200px; height: 200px; 
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    object-fit: contain;
    transition-duration: 1s;
    background-position: center;
    background: #fff;
}
.banner_slider .items img:hover {
    opacity: 0.5;
    transform: scale(0.9, 0.9);
    transition-duration: 0.5s;
   
}
.banner_slider .items .items_textandbutton {
    position: relative;
    top: 30px;
}

.banner_slider .items h2 {
    position: relative;
    display: flex;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    top: 50%;
    left: 46%;
    transform: translate( -50%, -50% );
    font-weight: 400;
}
.banner_slider .items p {
    position: relative;
    display: flex;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    top: 20%;
    left: 46%;
    transform: translate( -50%, -50% );

}

#wrap main .content {
    display: flex;
    width: 1200px;
    height: 200px;
    background-color: #999;
    position: relative;
}

#wrap main .content>div {
    width: 400px;
    height: 200px;
}

#wrap main .content .noticeGallery {
    background-color: #fff;
    position: relative;
    cursor: pointer;
}

#wrap main .content .noticeGallery h2+li {
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 13px;
    color: #999;
}

#wrap main .content .noticeGallery h2+a:hover {
    text-decoration: underline;
}

#wrap main .content .noticeGallery h2 {
    margin-top: 13px;
    font-size: 18px;
    color: #000;
    padding: 0 30px 0 0;

}

#wrap main .content .noticeGallery ul {
    padding: 0 30px 0 0;
    margin-top: 10px;
}

#wrap main .content .noticeGallery ul li {
    height: 28px;
    line-height: 28px;
    border-bottom: 1px dashed #ccc;
}

#wrap main .content .noticeGallery ul li a {
    max-width: 300px;
    /* 최대 너비 */
    height: 25px;
    display: block;
    float: left;
    font-size: 14px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    /* 내용이 길경우 .. 표시 */
    white-space: nowrap;
    /* 줄바꿈제어 */
    word-break: keep-all;
    /* 단어 단위로 줄바꿈 */
}

#wrap main .content .noticeGallery ul li a:hover {
    text-decoration: underline;
    /* hover시 라인 나옴 */
}

#wrap main .content .noticeGallery ul li span {
    font-size: 13px;
    color: #bdbdbd;
    float: right;
}

#wrap main .content .banner1 {
    background-color: #888;
    text-align: center;
    cursor: pointer;
}
#wrap main .content .banner1 h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -30px );
    color: #fff;
    font-size: 30px;
    font-family: 'Noto Sans KR';
    font-weight: bold;
    line-height: 30px;
    text-shadow: 4px 2px 2px black;
}
#wrap main .content .banner1 p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, 0% );
    color: #000;
    font-size: 18px;
    font-family: 'Noto Sans KR';
    font-weight: bold;
    line-height: 30px;
    text-shadow: -1px 1px 2px white;
}

#wrap main .content .banner2 {
    background-color: #666;
    text-align: center; 
    cursor: pointer;
}
#wrap main .content .banner2 h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( 150%, -30px );
    color: #fff;
    font-size: 30px;
    font-family: 'Noto Sans KR';
    font-weight: bold;
    line-height: 30px;
    text-shadow: 4px 2px 2px black;
}
#wrap main .content .banner2 p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( 75%, 0% );
    color: #000;
    font-size: 18px;
    font-family: 'Noto Sans KR';
    font-weight: bold;
    line-height: 30px;
    text-shadow: -1px 1px 2px white;
}

#wrap main .content .banner1:hover,
#wrap main .content .banner2:hover {
  opacity: 0.7;
}



/* footer */
#wrap footer {
    width: 100%;
    height: 100px;
    /* background-color: #000; */
    /* display: flex; */
    /* border-top: 1px solid #000;
    border-bottom: 1px solid #000; */
    background-color: #201d48;
}
#wrap footer .footerInner { 
    width: 1200px; 
    height: 100px; 
    display: flex; 
    margin: 0 auto; 
} 

#wrap footer .bottomLogo {
    width: 200px;
    height: 100px;
    /* background-color: #999; */
}

#wrap footer .bottomLogo a img {
    width: 40px;
    height: 40px;
    margin-top: 35px;
    opacity: 0.7;
    /* margin-left: 10px; */
}

#wrap footer .copyright {
    width: 800px;
    height: 100px;
    /* background-color: #2e2e2e; */
}

#wrap footer .copyright p {
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-top: 43px;
}

#wrap footer .copyright p a {
    color: #fff;
    /* font-weight: bold; */
}

#wrap footer .copyright p a:hover {
    text-decoration: underline;
}

#wrap footer .sns {
    width: 200px;
    height: 100px;
    /* background-color: #999; */
}

#wrap footer .sns ul {
    width: 120px;
    margin-top: 37px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    float: right;
    /* padding-right: 10px; */
}

#wrap footer .sns ul li a img {
    width: 25px;
}

